body {padding:5px;background-color:#000000;}
body * {color:#FFFFFF;text-align:center;}
ul { list-style: none; }

#container 
{
    overflow:hidden;
}

#fancy_h1_wrap
{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:100%;
}