*{font-family: 'Titillium Web', sans-serif;}
h2{text-transform: uppercase;}
.service{margin-top:80px;}
.swpc
{
    width:85px;
    height:5px;
    margin:0 auto 12px auto;
}

nav
{
    padding-top:70px;
    padding-bottom:70px;
    background-color:#87509c;
}
nav h1
{
    font-family: 'Lobster', cursive;
    color:#ffffff;
}
nav ul li
{
    display:inline-block;
    
    color:#ffffff;
    text-transform: uppercase;
}
nav ul li:hover
{
    background-color:#643a79;
}
nav ul li a
{
    color:#ffffff;
    display:block;
    padding:10px 15px 10px 15px;
}

header
{
    text-align: center;
    background-color:#87509c;
    padding-bottom:150px;
    color:#ffffff;
}
header h2,header button,header button:hover{color:#ffffff;}
header button
{
    margin-top:60px;
    padding:30px 80px 25px 80px;
    font-size:large;
    background-color:#eb7d4b;
    border-bottom: 5px solid #ca6b40;
}
header button:hover{border-bottom: 5px solid #eb7d4b;}

article
{
    text-align:center;
    padding-top:120px;
    padding-bottom:120px;
}

#services{background-color:#17c2a4;}
#services .swpc{background-color:#13a78d;}
#services *{color:#ffffff;}

#team{background-color:#e7f1f8;}
#team .swpc{background-color:#c7d9e5;}
#team img
{
    border-radius:50%;
    margin-bottom:40px;
}
#team h3
{
    color:#27283d;
    text-transform: uppercase;
}
#team h4
{
    color:#30bae7;
    font-size:small;
}
#team p{color:#47526b;}

#skills .swpc{background-color:#dfe8ed;}

#portfolio{background-color:#ffdd99;}
#portfolio .swpc{background-color:#e5c37f;}
.portfolio_categories{margin-left:0;}
.portfolio_categories li{display:inline-block;}
.portfolio_categories a
{
    display:inline-block;
    padding:15px 20px 15px 20px;
    border-radius:5px;
    background-color:#000000;
    /*color:#313131;*/
    text-decoration:none;
    text-transform: uppercase;
}
.portfolio_categories a:hover
{
    color:#313131;
    background-color:#ffffff;
}
#portfolio .col-4 h3
{
    margin-top:30px;
    font-size:small;
    color:#534e45;
    text-transform: uppercase;
}
#portfolio button
{
    margin-top:50px;
    color:#ffffff;
    background-color:#17c2a4;
    text-transform: uppercase;
    border-bottom: 5px solid #13a78d;
}
#portfolio button:hover
{
    border-bottom: 5px solid #17c2a4;
}

#testimonials
{
    color:#ffffff;
    background-color:#d74680;
}
#testimonials h2,#testimonials blockquote,#testimonials h3 {color:#ffffff;}
#testimonials .swpc{background-color:#b93c6e;}
#testimonials .service{text-align:left;}
#testimonials img
{
    width:100px;
    float: left;
    margin-right:10px;
    border-radius:50%;
}
#testimonials blockquote{border:0;margin-bottom:30px;}
#testimonials h3{margin:0;text-transform: uppercase;}
#testimonials h4{margin-left:110px;color:#ffdd99;}

footer
{
    background-color:#3c5499;
    color:#ffffff;
    padding-top:120px;
    text-align:center;
}
footer h2{color:#ffffff;}
footer .swpc{background-color:#273a71;}
footer p{margin-bottom:80px;}
#name,#mail,#mess
{
    background-color:#273a71;
    border:0;
    color:#ffffff;
}
footer form input{ margin-bottom:30px;width:100%; }
footer form input[type="submit"]
{
    width:290px;
    height:80px;
    margin-top:30px;
    padding:30px 90px 30px 90px;
    border-radius:5px;
    color:#ffffff;
    background-color:#30bae7;
    border-bottom: 5px solid #29a0c7;
}
footer form input[type="submit"]:hover{cursor:pointer;}
footer form input[type="submit"]:active
{
    background-color:#29a0c7;
    border-bottom: 5px solid #30bae7;
}
footer ul
{
    margin:0;
    padding:50px 0 50px 0;
    background-color:#344b8e;
}
footer ul li
{
    display:inline-block;
    font-size:x-large;
    margin-left :30px;
    margin-right:30px;
}
footer ul li a
{
    text-decoration:none;
    color:#ffffff;
}
footer ul li a:hover{color:#30bae7;}

/* RWD Service */
@media (max-width: 768px)
{
    nav{padding-top:12px;}
    nav ul li{width:100%;text-align:center;}
    h1{text-align:center;}
    #testimonials img{width:200px;margin:0 20%;display:block;}
    #testimonials blockquote{clear:both;}
    #testimonials blockquote,
    #testimonials h3,
    #testimonials h4
    {
        display:block;
        width:100%;
        margin:0;
        text-align:center;
    }
    #testimonials h4{margin-bottom:30px;}
    #testimonials .service{margin:0;}
    footer ul li{width:100%;margin:0;padding-top:10px;padding-bottom:10px;}
    footer ul li a {display:block;}
}